.dialog {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: auto;
  height: auto;
  max-width: 100vw;
  max-height: 100vh;
  background-color: rgba(0, 0, 0, 0.9);
  overflow: hidden;

  &:not([open]) {
    display: none;
  }

  video {
    width: clamp(300px 100% 720px);
    max-width: 90vw;
    height: 100%;
    object-fit: contain;
  }
}
