.dialog {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 1;
  zindex: 9999;
  width: 100%;
  max-height: 100%;

  &:not([open]) {
    display: none;
  }
}
